<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>COVID-19 世界の様子</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style>
		body {
			font: sans-serif;
			min-height: 75rem;
			padding-top: 5.5rem;
		}

		#last-data {
			font-size: 24pt;
		}

		#svgtreemap {
			width: 100%;
			max-width: 1600px;
		}

		.confirmed {
			color: #e6b422;
		}

		.deaths {
			color: #b94047;
		}

		.recovered {
			color: #47ba41;
		}

		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body class="bg-light text-dark">
	<div id="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light text-dark">
			<span class="navbar-brand">COVID-19 世界の様子</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="navbar-brand nav-link active" href="/" title="Treemap">Treemap</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand nav-link" href="/chart/line.html" title="Line">Line</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<main class="container col-md-12" role="main">
					<h1>世界の様子</h1>
					<p class="lead">COVID-19の変動を記録していくサイトです。</p>
					<hr>
					<h2>現在</h2>
					<span id="last-data" class="row" v-cloak>
						<div class="col-md-2 align-self-start">
							<span>感染数</span>
							<span class="confirmed">{{ confirmed_now }}</span>
						</div>
						<div class="col-md-2 align-self-start">
							<span>死者数</span>
							<span class="deaths">{{ deaths_now }}</span>
						</div>
						<div class="col-md-2 align-self-start">
							<span>回復数</span>
							<span class="recovered">{{ recovered_now }}</span>
						</div>
					</span>
					<hr>
					<div class="row">
						<div class="col-4 align-self-start">
							<h2>各国の割合(Treemap)</h2>
						</div>
						<div class="col-4 align-self-end"></div>
						<div class="col-4 align-self-end" v-cloak>
							<div v-for="category in categorys" class="form-check form-check-inline">
								<input class="form-check-input" type="radio" v-bind:name="category.id"
									v-bind:id="category.id" v-model="nowcategory" v-bind:value="category.id"
									v-on:change="categoryChange">
								<label class="form-check-label" v-bind:for="category.id">{{ category.name }}</label>
							</div>
						</div>
					</div>
					<div id="svgtreemap"></div>
				</main>
			</div>
		</div>
	</div>
	<script src="/js/lib/jquery-3.4.1.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/treemap.js"></script>
</body>

</html>