<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>COVID-19 世界の様子 - 折れ線</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style>
		body {
			font: sans-serif;
			min-height: 75rem;
			padding-top: 5.5rem;
		}

		#svgline {
			width: 100%;
			max-width: 1600px;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}

		.x.axis line,
		.y.axis line {
			opacity: 0.15;
		}

		.line {
			fill: none;
			stroke-width: 1.5px;
		}

		[v-cloak] {
			display: none;
		}
	</style>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
</head>

<body class="bg-light text-dark">
	<div id="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light text-dark">
			<span class="navbar-brand">COVID-19 世界の様子</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="navbar-brand nav-link" href="/" title="Treemap">Treemap</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand nav-link active" href="/chart/line.html" title="Line">Line</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<main class="container col-md-12" role="main">
					<h1>世界の様子</h1>
					<p class="lead">COVID-19の変動を記録していくサイトです。</p>
					<hr>
					<div class="row">
						<div class="col-4 align-self-start">
							<h2>各国の様子(Line)</h2>
						</div>
						<div class="col-4 align-self-end" v-cloak>
							<div v-for="yscale in yscales" class="form-check form-check-inline">
								<input class="form-check-input" type="radio" v-bind:name="yscale.id"
									v-bind:id="yscale.id" v-model="nowyscale" v-bind:value="yscale.id"
									v-on:change="yscaleChange">
								<label class="form-check-label" v-bind:for="yscale.id">{{ yscale.name }}</label>
							</div>
						</div>
						<div class="col-4 align-self-end" v-cloak>
							<div v-for="category in categorys" class="form-check form-check-inline">
								<input class="form-check-input" type="radio" v-bind:name="category.id"
									v-bind:id="category.id" v-model="nowcategory" v-bind:value="category.id"
									v-on:change="categoryChange">
								<label class="form-check-label" v-bind:for="category.id">{{ category.name }}</label>
							</div>
						</div>
					</div>
					<div id="svgline"></div>
					<div class="row">
						<div class="col-md-6 align-self-start" v-cloak>
							<button type="button" class="btn btn-success"
								v-on:click="countryCheckAllClick">全部チェックする</button>
							<button type="button" class="btn btn-danger"
								v-on:click="countryUncheckAllClick">全部チェックを外す</button>
							<button type="button" class="btn btn-warning"
								v-on:click="countryCheckBest10Click">上位10ヶ国のみチェックする</button>
						</div>
						<div class="col-md-6 align-self-start" v-cloak>
							<template>
								<div>
									範囲指定：
									<vue-slider v-model="slider.xaxis.value" :data="slider.xaxis.data"
										v-on:change="sliderChange"></vue-slider>
								</div>
							</template>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" v-cloak>
							<div v-for="country in countrys" class="form-check form-check-inline">
								<input class="form-check-input checkbox-country" type="checkbox"
									v-bind:name="country.id" v-bind:id="country.id" v-on:change="countryChange"
									v-model="country.checked">
								<label class="form-check-label" v-bind:for="country.id">{{ country.name }}</label>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
	<script src="/js/lib/jquery-3.4.1.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/line.js"></script>
</body>

</html>